nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  a {
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    color: #fff;
    font-family: Helvetica, sans-serif;
  }
}
